# generic node uri (if no specific found) :
ETH_NODE_URI=https://{{networkName}}.infura.io/v3/<apiKey>
# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
MNEMONIC_MAINNET=<mnemonic for mainnet>
# generic mnemonic (if no specific found):
MNEMONIC=<mnemonic>

#####################
ETH_NODE_URI_AURORA_LOCAL=http://localhost:8545
MNEMONIC_AURORA_LOCAL=da5f918beb8a253c38c6d8f77f150d68a8146663ff09bdd41dc1c9ab06834950
CHAINID_AURORA_LOCAL=1313161556


ETH_NODE_URI_AURORA_TEST=https://testnet.aurora.dev
MNEMONIC_AURORA_TEST=
CHAINID_AURORA_TEST=1313161555


ETH_NODE_URI_AURORA=https://mainnet.aurora.dev
MNEMONIC_AURORA=
CHAINID_AURORA=1313161554
